<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body>
<%- include('../../partials/sidebar', {title: title, active: active, pagesNumber: pagesNumber}); %>

<main class="p-4 md:ml-64 h-auto pt-10 bg-white dark:bg-gray-900">
    <div class="mb-4">
        <%- include('../../partials/breadcrumb'); %>
    </div>

    <%- include('../../partials/modals/newPage'); %>
    <%- include('../../partials/alerts/success'); %>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4 transition-all duration-300">
        <% if (posts.length > 0) { %>
            <% posts.forEach(item => { %>
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg h-auto w-auto" src="/uploads/<%= item.image %>" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= item.title %></h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= item.content %></p>
                        <!--<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Edit
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>-->
                        <button id="delete-button" data-id="<%= item.id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">
                            Delete
                            <i class="rtl:rotate-180 w-3.5 h-3.5 ms-2 fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <div class="col-span-4">
                <div class="flex items-center justify-center h-96">
                    <p class="text-gray-500 dark:text-gray-400">No posts found.</p>
                </div>
            </div>
        <% } %>
    </div>
    <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4">

    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
    </div>
    <div
            class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
    ></div>
    <div class="grid grid-cols-2 gap-4">
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
                class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
    </div>
</main>
<footer class="relative -bottom-10 w-full">
    <%- include('../../partials/footer'); %>
</footer>
</body>

<%- include('../../partials/js/admin'); %>

<script>
    const deleteLink = document.getElementById("delete-button")

    deleteLink.addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default behavior of anchor element

        const idToDelete = this.getAttribute("data-id");

        // Perform the DELETE request using Fetch API
        fetch(`/api/v1/pages/delete/${idToDelete}`, {
            method: 'DELETE',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data); // 'ok'
                // Optionally, you can redirect the user or update the UI as needed
                window.location.reload();
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
    });
</script>

</html>