<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="dark:bg-gray-900 w-screen h-screen">
<%- include('../../partials/sidebar', {title: title, active: active, pagesNumber: pagesNumber}); %>

<main class="p-4 md:ml-64 h-auto pt-10 bg-white dark:bg-gray-900">
    <div>
        <div class="flex justify-between items-center mb-4">
            <%- include('../../partials/breadcrumb'); %>
            <button type="button" id="add-user-button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
                Add User
            </button>
        </div>
    </div>

    <%- include('../../partials/modals/createUser'); %>
    <%- include('../../partials/alerts/success'); %>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8 transition-all duration-300">
        <% if(users) { %>
            <% users.forEach(user => { %>
                <%- include('../../partials/users/card', {user: user}); %>
            <% }); %>
        <% } else { %>
            <div class="col-span-4">
                <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
                    <p class="text-gray-500 dark:text-gray-400 text-center">No users found</p>
                </div>
            </div>
        <%}%>
    </div>

</main>
<footer class="sticky top-[100vh]">
    <%- include('../../partials/footer'); %>
</footer>
</body>

<%- include('../../partials/js/admin'); %>

<script>
    const deleteLink = document.getElementById("delete-button")
    const addUserButton = document.getElementById("add-user-button")

    deleteLink.addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default behavior of anchor element

        const idToDelete = this.getAttribute("data-id");
        console.log(idToDelete); // 1

        // Perform the DELETE request using Fetch API
        fetch(`/api/v1/users/delete/${idToDelete}`, {
            method: 'POST',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                console.log(data); // 'ok'
                // Optionally, you can redirect the user or update the UI as needed
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
    });

    addUserButton.addEventListener("click", function(event) {

    });
</script>

</html>